@font-face {
    font-family:"MontserratBold";
    src: url("../fonts/Montserrat-Bold.ttf") ;
}
@font-face {
    font-family:"MontserratLight";
    src: url("../fonts/Montserrat-Light.ttf") ;
}
@font-face {
    font-family:"MontserratRegular";
    src: url("../fonts/Montserrat-Regular.ttf") ;
}
*{
    font-family:"MontserratLight", serif;
    padding: 0;
    margin: 0;
}
button{
    background-color: #9699CA;
    color: white;
    border: none;
    border-radius: 10px;
}
.index_a{
    background-color: #9699CA;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top:30px;
    margin-left: 175px ;
    padding: 9px 35px;
    font-size: 14px;
    letter-spacing: 2px;
}
.button{
    margin-top:30px;
    margin-left: 175px ;
    padding: 9px 35px;
    font-size: 14px;
    letter-spacing: 2px;

}
p{
    padding:0;
    margin: 0;
}
.a{
    font-size: 16px;
}
a{
    text-decoration: none;
    color:black;
    font-size: 14px;
}
/* header */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.form-control{
    border:1px solid #77C7B9;
    box-shadow: 0 0 0 0.25rem rgba(119, 199, 185, 0.25);
}
.was-validated .form-control:invalid, .form-control.is-invalid:active{
    border-color:#77C7B9;
}
.was-validated .form-control:invalid, .form-control.is-invalid{
    box-shadow:none;
}
.form-control:focus{
    box-shadow: 0 0 0 0.25rem rgba(119, 199, 185, 0.25);
    border:1px solid #77C7B9;

}
.was-validated .form-control:valid, .form-control.is-valid{
    border:1px solid #77C7B9;
    box-shadow: 0 0 0 0.25rem rgba(119, 199, 185, 0.25);
}

.logo_a{
margin-left: 30px;
}
header div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 30px;

}
header > a{
    margin-left: 20px;
}
header > div{
    margin-right:650px;

}
.header_item > a{
    margin: 0 5px;

}
/* main */
.wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 1960px;
    min-height: 620px;
    position: relative;

}

.menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    background: #F47D6C;
}
.menu > div{
    margin: 20px 0;
}
.menu > div a{
    display: flex;
    justify-content: center;
    margin: 10px 0;
    font-size: 16px;
}
/* content - index */
.content {
    min-height: 620px;
    margin-left: 250px;
    padding: 1.5em;
    background: url("../../web/img/photo4.jpg") no-repeat;
    /*filter: blur(10px);*/
    /*opacity: 2%;*/
    background-size: cover;

}
.site-index{

}
.site-index > h1{
    margin: 50px 0 30px 50px;
}
.site-index > p{
    margin: 0 0 50px 50px;
    line-height: 40px;
    letter-spacing: 2px;
    width: 60%;
    font-size: 18px;
}
.site-index > button{
    margin: 0 0 50px 100px;
    padding: 10px 35px;
    font-size: 14px;
    letter-spacing: 2px;
}
/* login */
.site-login{
    margin: 40px 0;
}
.container{
    width: 500px;
    margin: 0 auto;
}
.login_h1{
    text-align: center;
}
footer {

    font-size: 10px;
    padding: 20px 0 20px 20px;

}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}
