@font-face {
    font-family:"MontserratBold";
    src: url("../fonts/Montserrat-Bold.ttf") ;
}
@font-face {
    font-family:"MontserratLight";
    src: url("../fonts/Montserrat-Light.ttf") ;
}
@font-face {
    font-family:"MontserratRegular";
    src: url("../fonts/Montserrat-Regular.ttf") ;
}
*{
    font-family:"MontserratLight", serif;
    padding: 0;
    margin: 0;
}
.summary{
    display: none;
}
.btn-primary{
    background-color: #9699CA;
    color: white;
    border: none;
    border-radius: 10px;
}
.btn-primary:hover{
    background-color: rgb(204, 207, 246);
}
.btn-primary:active{
    background-color: rgb(204, 207, 246);

}
.btn-danger{
    background-color: #77C7B9;
    color: white;
    border: none;
    border-radius: 10px;
}
.btn-danger:hover{
    background-color: rgba(119, 199, 185, 0.25);
}
.btn-danger:active{
    background-color: rgba(119, 199, 185, 0.25);
}
.user-update > h1{
    display: none;
}
.note-create > h1{
    text-align: center;
}
.note-update > h1{
    text-align: center;
}
button{
    background-color: #9699CA;
    color: white;
    border: none;
    border-radius: 10px;
}
.index_a{
    background-color: #9699CA;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top:30px;
    margin-left: 175px ;
    padding: 9px 35px;
    font-size: 14px;
    letter-spacing: 2px;
}
.button{
    margin-top:30px;
    margin-left: 175px ;
    padding: 9px 35px;
    font-size: 14px;
    letter-spacing: 2px;

}
.button-register{
    margin-top:30px;
    margin-left: 115px ;
    padding: 9px 35px;
    font-size: 14px;
    letter-spacing: 2px;
}
.button-edit{
    margin-top:30px;
    margin-left: 145px ;
    padding: 9px 35px;
    font-size: 14px;
    letter-spacing: 2px;
}
.button-data{
    padding: 5px 25px;
    font-size: 13px;
    letter-spacing: 2px;
    background-color: transparent;
    color: #9699CA;
    border: 2px solid #9699CA;
    border-radius: 10px;
    font-family:"MontserratBold", serif;
}
p{
    padding:0;
    margin: 0;
}
.a{
    font-size: 16px;
    color:#F47D6C;
}
a{
    text-decoration: none;
    color:black;
    font-size: 14px;
}
/* header */
header{
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 10px;

}
.header_img{
    border-radius: 80%;
    width: 50px;
    height: 50px;
}
.form-control{
    border:1px solid #77C7B9;
    box-shadow: 0 0 0 0.25rem rgba(119, 199, 185, 0.25);
}
.was-validated .form-control:invalid, .form-control.is-invalid:active{
    border-color:#77C7B9;
}
.was-validated .form-control:invalid, .form-control.is-invalid{
    box-shadow:none;
}
.form-control:focus{
    box-shadow: 0 0 0 0.25rem rgba(119, 199, 185, 0.25);
    border:1px solid #77C7B9;

}
.was-validated .form-control:valid, .form-control.is-valid{
    border:1px solid #77C7B9;
    box-shadow: 0 0 0 0.25rem rgba(119, 199, 185, 0.25);
}
header > a:last-of-type{
    position:absolute;
    right: 50px;
    top: 28px;
    z-index: 1;
}
.logo_a{
    margin-left: 30px;
    width:150px;
}
header div{
    display: flex;
    align-items: center;
    margin: 0 30px;

}
header > a{
    margin-left: 20px;
}
header > div{
    margin-right:650px;

}
.header_item > a{
    margin: 0 5px;

}
/* date */
.date_filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.date_p{
    text-align: center;
    color:#77C7B9 ;
    font-family:"MontserratBold", serif;
}
/* main */
.wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 1960px;
    position: relative;

}

.menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    background: #F47D6C;
}
.menu > div{
    margin: 20px 0;
}
.menu > div a{
    display: flex;
    justify-content: center;
    margin: 10px 0;
    font-size: 16px;
}
/* content - index */
.content {
    margin-left: 250px;
    padding: 1.5em;
    background: url("../../web/img/photo.jpg") no-repeat;
    background-size: cover;
    position: relative;

}
.site-index > h1{
    margin: 50px 0 30px 50px;
}
.site-index > p{
    margin: 0 0 50px 50px;
    line-height: 40px;
    letter-spacing: 2px;
    width: 60%;
    font-size: 18px;
}
.site-index > button{
    margin: 0 0 50px 100px;
    padding: 10px 35px;
    font-size: 14px;
    letter-spacing: 2px;
}
.view_user{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}
.task_content{
    display: flex;
    justify-content: left;
    align-items: center;
}

/* login */
.site-login{
    margin: 40px 0;
}
.site-register{
    margin: 40px 0;
}
.user-profile{
    margin: 40px 0;
}
.p_view{
    text-align: center;
}
.stat_h5{
    text-align: left;
    font-size: 18px;
    font-family:"MontserratRegular", serif;
}
.note-list{
    margin: 40px 0;
}
.statistic{
    position: absolute;
    z-index: 1;
    left: 30px;
    top:20px;
    font-size: 16px;
}

.container{
    width: 500px;
    margin: 0 auto;
}
.container_product{
    width: 600px;
    margin: 0 auto;
}
.login_h1{
    text-align: center;
}
/* list */
.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-list{
    font-family:"MontserratRegular", serif;
    padding: 9px 35px;
    font-size: 14px;
    letter-spacing: 2px;
    background-color: #9699CA;
    color: white;
    border: none;
    border-radius: 10px;
}
.notes{
    width:100%;
    border:2px solid #77C7B9;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    padding: 20px 0;
}
.tasks{
    width:100%;
    border:2px solid #77C7B9;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    padding: 20px 0;
}
.products{
    width:100%;
    border:2px solid #77C7B9;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    padding: 20px 0;
}
.product_content{
    display: flex;
    justify-content: left;
    align-items: center;

}
.product_content p{
    margin: 0 60px;
    font-family:"MontserratRegular", serif;
}
.product_content > p:first-of-type {
    margin: 0 30px;
}
.notes_color{
    background-color: #77C7B9;
    width:100%;
    border:2px solid #9699CA;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    padding: 20px 0;
}

.notes p{
    margin-left: 20px;
}

.task_content > p:first-of-type {
    margin-left: 20px;
}

.task_content > p:last-of-type {
    margin-left: 40px;
}
.notes_color p{
    margin-left: 20px;
}
h5{
    font-family:"MontserratRegular", serif;
    margin-left: 20px;
}
.notes_btn{
    margin-right: 20px;
    display: flex;
    align-items: center;

}
.notes div input{
    margin: 0 3px;
}
/* profile */
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0;

}
.profile div{
    margin: 0 10px;
}
footer {
    font-size: 10px;
    padding: 20px 0 20px 20px;

}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}
/* pag */
.paginations{
    display: flex;
    justify-content: center;
}
.pagination {
    list-style: none;
    display: inline-block;
    padding: 0;

}
.pagination li {
    display: inline;
    text-align: center;
}
.pagination a {
    float: left;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 12px;
    color: #fff;
    margin-left: -1px;
    border: 1px solid transparent;
    line-height: 1.5;
}
.pagination a.active {
    cursor: default;
}
.pagination a:active {
    outline: none;
}

.pagination li:first-child a {
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px 0 0 6px;
}
.pagination li:last-child span {
    -moz-border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0;
    border-radius: 0 6px 6px 0;
}
.pagination a {
    border-color: #ddd;
    color: #c55;
    background: #fff;
}
.pagination a:hover {
    background: #eee;
}
.pagination a.active, .pagination a:active {
    border-color: #c55;
    background: #c55;
    color: #fff;
}
.pagination span {
    float: left;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 12px;
    color: #fff;
    margin-left: -1px;
    border: 1px solid transparent;
    line-height: 1.5;
}
.pagination span.active {
    cursor: default;
}
.pagination span:active {
    outline: none;
}
.pagination span {
    border-color: #ddd;
    color: #c55;
    background: #fff;
}
.pagination span:hover {
    background: #eee;
}
.pagination span.active, .pagination span:active {
    border-color: #c55;
    background: #c55;
    color: #fff;
}